body {
 font-family: Arial, sans-serif;
 font-size:  18px;
}
.header_layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.list_layout{
  display: inline-flex;
  color: black;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 140px;
  text-align: center;
  flex-direction: column;

}
.flex3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  height:  30px;
  justify-content: flex-start;
  align-items: flex-start;
}
.delete-checkbox1 {
  display: inline-flex;
  justify-content: flex-start;
}
.form_label {
  width: 140px;
  align-self: baseline;
  flex-wrap: wrap;
}
.input_box2 {
  width: 200px;
  height: 28px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.input_box2::placeholder {
  color: #c0392b;
}
.input_box2.req:invalid {
  border-radius: 4px;
  transition: all 0.5s;
  border: 2px solid red;
}
.input_box2.req:valid {
  border-radius: 4px;
  transition: all 0.5s;
  border: 2px solid green;
}
.input_box2:invalid:focus {
  border-radius: 4px;
  transition: all 0.5s;
  outline: none;
  border: 2px solid red;
}
.input_box2:valid:focus {
  border-radius: 4px;
  transition: all 0.5s;
  outline: none;
  border-color: green;
}

.item4 {
  width: 400px;
}
.prod_sku_dvd {
  color: cornflowerblue;
  width: 200px;
  word-break: break-all;
  word-wrap: break-word;
}
.prod_sku_book {
  color: darkviolet;
  width: 200px;
  word-break: break-all;
  word-wrap: break-word;
}
.prod_sku_furniture {
  color: chocolate;
  width: 200px;
  word-break: break-all;
  word-wrap: break-word;
}
.delete-checkbox {
    margin: .3rem;
}
h1 {
  margin: 0px;
  width: 250px;
  text-align: left;
  text-anchor: end;
  align-self: flex-end;
}
.add-button{
  margin: 0px;
  padding: 0px;
}
.right-button{
  margin-left: 16px;
}
.hide{
  display:none;
  width: 350px;
}
.hide.show{
  display: block;
  width: 350px;
}
.r_letter {
 color: red;
}